<div class="container">
    <div class="container text-right" dir="rtl">
        <div class="container alert alert-primary text-center">
            <h5>{{ data.workSampleTitle }}</h5>
        </div>

        <span>توضیحات : </span>
        <div class="alert alert-secondary"><p class="">{{ data.workSampleFullDescriptions }}</p></div>
        <span>تاریخ انجام کار : </span>
        <div class="alert alert-secondary"><p class="">{{ data.WorkSampleDoDate }}</p></div>
         <span>مشخصات کارفرما : </span>
        <div class="alert alert-secondary"><p class="">{{ data.employerSpecifications }}</p></div>
         <span>لینک گیت هاب : </span>
        <div class="alert alert-secondary"><p class="overflowAuto"><a href="{{ data.gitLink }}">{{ data.gitLink }}</a></p></div>
    </div>
</div>